<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>angular-form-builder</title>

    <!--<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>-->
    <link type="text/css" rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!--<link type="text/css" rel="stylesheet" href="example/site.css"/>-->
    <link type="text/css" rel="stylesheet" href="dist/angular-form-builder.css"/>

    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="//code.angularjs.org/1.2.20/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>-->
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>

    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>-->
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>-->
    <script type="text/javascript" src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>

    <!--<script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>-->
    <script type="text/javascript" src="dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="dist/angular-form-builder-components.js"></script>
    <!--<script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator.min.js"></script>-->
    <script type="text/javascript" src="./bower_components/angular-validator/dist/angular-validator.min.js"></script>
    <!--<script type="text/javascript" src="//kelp404.github.io/angular-validator/dist/angular-validator-rules.min.js"></script>-->
    <script type="text/javascript" src="./bower_components/angular-validator/dist/angular-validator-rules.min.js"></script>
    <!--<script type="text/javascript" src="example/demo.js"></script>-->

	<script type="text/javascript" src="dist/core.js"></script>
</head>
<body class="container" ng-controller="DemoController">

<div class="row">
	<div class="col-md-12">
		<h1>Sevan Form Builder</h1>
		<hr/>
	</div>
</div>
<div class="row">

	<div class="col-xs-12 col-md-6">
		<div class="panel panel-default">

			<div class="panel-heading text-center" fb-pages>
				Form Builder
			</div>

			<div fb-builder="0" fb-page={{currentPage}}></div>

			<div class="panel-footer">
				<div class="checkbox">
					<label><input type="checkbox" ng-model="isShowScope"/>
						Show scope
					</label>
				</div>
				<pre ng-if="isShowScope">{{jsonString}}</pre>
			</div>

		</div>
	</div>


	<div class="col-xs-12 col-md-6 cPanel">
		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li role="presentation" class="">
				<a href="#fb-control-panel" aria-controls="fb-control-panel" role="tab" data-toggle="tab">Controls</a>
			</li>
			<li role="presentation" class="">
				<a href="#fb-form-properties" aria-controls="fb-form-properties" role="tab" data-toggle="tab">Form</a>
			</li>
			<li role="presentation" class="active">
				<a href="#fb-component-list" aria-controls="fb-component-list" role="tab" data-toggle="tab">Components</a>
			</li>
		</ul>


		<div class="tab-content">
			<br/>

			<div class="col-sm-12 fb-simple-view" fb-simple-view
			     fb-simple-preview="false"
			     fb-simple-component-view="true"
			></div>

			<br/><hr>

			<div role="tabpanel" class="col-xs-12 tab-pane" id="fb-control-panel">
				<div fb-control-panel ></div>
			</div>

			<div role="tabpanel" class="col-xs-12 tab-pane" id="fb-form-properties">
				<div fb-form-properties ></div>
			</div>

			<div role="tabpanel" class="col-xs-12 tab-pane active" id="fb-component-list">
				<div fb-components id="buildLists"></div>
			</div>

		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<h2>Web Page Form Example</h2>
		<hr/>
		<form class="form-horizontal">
			<div ng-model="input" fb-form="0" fb-default="defaultValue"></div>
			<div class="form-group">
				<div class="col-md-8 col-md-offset-4">
					<input type="submit" ng-click="submit()" class="btn btn-default"/>
				</div>
			</div>
		</form>
		<div class="checkbox">
			<label><input type="checkbox" ng-model="isShowScope" ng-init="isShowScope=false"/>
				Show exit scope
			</label>
		</div>
		<pre ng-if="isShowScope">{{input}}</pre>
	</div>
</div>

<div class="row">
	<div class="col-md-12 footer"></div>
</div>

</body>
<script src="//localhost:35729/livereload.js"></script>
</html>
