@import "compass/css3";

.elementList{
  padding-top: 10px;
}

.element-wrapper{
  padding-top: 10px;
  border: 1px solid;
}

.fb-component {
  padding: 10px;
  cursor: move;
  input {
    cursor: move;
  }
  label {
    cursor: move;
  }
  select {
    cursor: move;
  }
  textarea {
    cursor: move;
  }
}
.fb-section{
  min-height: 100px;
}
.fb-form-object-editable {
  padding: 10px;
}

.fb-form-object-editable.fb-draggable {
  cursor: move;
  input {
    cursor: move;
  }
  label {
    cursor: pointer;
  }
  select {
    cursor: move;
  }
  textarea {
    cursor: move;
  }
}

.fb-form-object-editable.empty {
  cursor: default;
  margin: 6px;
  height: 80px;
  border: dashed 1px #aaa;
  background-color: #eee;
}

.fb-section-object-editable.empty {
  @extend .fb-form-object-editable.empty;
  z-index: 700;
}

.fb-draggable.dragging {
  background-color: #ffffff;
  position: absolute;
  z-index: 800;
  @include box-shadow(#666 0 0 20px);
}

.fb-required:after {
  color: #b94a48;
  content: ' *';
}

.fb-builder {
  min-height: 500px;
  cursor: pointer;
  padding: 30px 10px;

  .fb-select-checkbox {
    position: relative;
    top: -30px;
    left: -10px;
    margin-left: 3px;
    margin-top: 3px;

    input[type="checkbox"].fb-select-input{
      display: none;

      +label.fb-select-checkbox-label {
        cursor: pointer;
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        color: blue;
        //-webkit-font-smoothing: antialiased;
        //-moz-osx-font-smoothing: grayscale;

        &:before {
          content: "\e157";
        }
      }

      &:checked + label.fb-select-checkbox-label {
        color: green;
        &:before {
          content: "\e067";
        }
      }
    }
  }
}

.popover {
  .control-label {
    text-align: left;
  }
  form {
    width: 240px;
  }
}

.cPanel {
  .tab-content{
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    &:after{
      //content: "<br>";
    }
  }
  hr, br, .tab-pane{
    &:after{
      clear: both;
    }
  }
}

.fb-selected-frame{
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,126,255,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,126,255,1);
  box-shadow: 0px 0px 5px 1px rgba(0,126,255,1);
}

.radio-label-text {
  font-weight: 400 !important;
}

.underline {
  height: 2px;
  margin: 0 20px !important;
}

.section-actions-container {
  margin: 15px !important;
}